body {
  font-family: "gilroy-medium", sanserif;
}

/* Hero Section */

/* Navigation Menu */
.nav_menu,
.nav_link {
  display: flex;
  justify-content: space-around;
}

li {
  list-style: none;
}

.page_link {
  padding-left: 10px;
}
